.view-more {
  font-size: larger;
  text-align: center;
  color:#282c34;
  background-color: lightblue;
  margin:20px;
  padding:20px;
}
.view-more :link{
  color:#282c34;
}
.view-more :visited{
  color:#282c34;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list-item {
  padding:10px;
}
.list-item :visited{
  color:aliceblue;
}

.list-item :link{
  color:aliceblue;
  text-decoration-line: none;
}

.list-item :hover{
  color:#0a55ec;
}

